<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @post.message %>
</p>

<p>
  <b>Url:</b>
  <%= @post.url %>
</p>



<%= link_to 'Back', :controller => "posts", :action => "forum" %>




