

 <div class="main">
    <%=h @post.message %> <br>
  <b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; via <%=h post.url %> 
    <div align="right">
       <iframe src="http://www.facebook.com/plugins/like.php?href=http://twss.heroku.com/posts/<%= @post[:id]%>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:70px;" allowTransparency="true"></iframe>
          
    </div>      
  </div>
<br>
<% end %>


<br />
